@using SatoshisCrypto.Models;
@using System.Collections.Generic;

<div class="text-center">
    <h1>Here's what we found!</h1>
    <h4> Below is a list of different cryptocurrencies and their total number of mentions on r/cryptocurrency in the last 24 hours:</h4>
</div>


@* <div class="text-center">
    @foreach(var i in Model)
    {
        <h3>@i.Value: @i.Key</h3>
    }
</div>
 *@
