@using SatoshisCrypto.Models;
@using System.Collections.Generic;

<div class="text-center">
    <h2> Below is a list of crypto ticker symbols and their number of mentions on r/cryptocurrency in the last 24 hours</h2>
</div>


<div class="text-center">
    @foreach(var i in Model)
    {
        <h5>@i.Value: @i.Key</h5>
    }
</div>

