
@using SatoshisCrypto.Models;
@model List<SatoshisCrypto.Models.EthComment>;


<div class="text-center">
    <h1 class="display-4">All Comments:</h1>
</div>

<ol>
@foreach (EthComment comment in Model)
{
    <ul>
        <li>Body: @comment.Body</li>
        <li>UTC: @comment.Created_Utc</li>
    </ul>
    <br>
}
</ol>
