@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "_Layout";
}


<div class="indexPage">
    <div class="text-center">
        <h1 class="display-4">Welcome to Satoshi's Crypto.</h1>
        <p>Learn about <a href="https://reddit.com/r/cryptocurrency">the most popular cryptocurrencies trending on Reddit!</a>.</p>
    </div>

    <a href="/Home/Details" button type="button" class="btn btn-secondary" id="goButton">🚀</a>
</div>
 <div class="loadingScreen"> 
     <div class="rocket-background">
        <div class="rocket">
            <div class="rocket-body">
            <div class="body"></div>
            <div class="fin fin-left"></div>
            <div class="fin fin-right"></div>
            <div class="window"></div>
            </div>
            <div class="exhaust-flame"></div>
            <ul class="exhaust-fumes">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            </ul>
            <ul class="star">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            </ul>
        </div>
    </div> 
</div> 


<script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        $("#goButton").click(function () {
            $(".indexPage").hide();
            // $(".rocket").show();
            $(".loadingScreen").show();

        });
    });
</script>

