@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Satoshi's Crypto.</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">the most popular cryptocurrencies trending on Reddit!</a>.</p>
</div>

<a href="/Home/Details" button type="button" class="btn btn-danger">Go!</a>